* {
    margin: 0;
    padding: 0;
}

/*Container Settings */
.container {
    display: grid;
    grid-template-columns: 30% 30% 10% 30%;
    grid-template-rows: auto auto;
    overflow: hidden;
}

/*Links */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*Image Carousel */
.imageSlide {
    display: none;
    grid-column: span 4;
    grid-row: 1;
    width: 100%;
    min-height: 0;
    max-width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-heading {
    grid-row: 1;
    color: hsl(0, 0%, 0%);
}

.hero-text {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
}

.prev-button {
    grid-column: 3 / 4;
    grid-row: 2;
    position: relative;
    bottom: 59px;
    right: 25px;
}

.next-button {
    grid-column: 3 / 4;
    grid-row: 2;
    margin-left: 50px;
    position: relative;
    bottom: 59px;
    left: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*Images */
.about-image-1 {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-image-2 {
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Text Settings */

#about-text {
    grid-column: 2 / 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

/*Nav Bar Settings */

#navbar {
    background-color: transparent;
    z-index: 1;
    margin-top: 50px;
}

.brand {
    margin: 50px;
    text-decoration: none;
    font-family: 'League Spartan';
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.navlink {
    margin: 20px;
    text-decoration: none;
    font-family: 'League Spartan';
    color: white;
}

/*Typography */

.heading {
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 40px;
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 20px;
}

.subheading {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.2;
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.about-body-text {
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: 500;
    color: hsl(0, 0%, 63%);
    margin-left: 70px;
    margin-right: 70px;
    line-height: 1.2;
}

.heading-body-text {
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: 500;
    color: hsl(0, 0%, 63%);
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 50px;
    line-height: 1.2;
}

/* Buttons */

.button {
    background-color: transparent;
    outline: none;
    border: none;
    grid-column: 3;
    grid-row: 1;
}

.button-text {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-left: 150px;
    margin-right: 10px;
    text-transform: uppercase;
    grid-column: 3;
    grid-row: 1;
    color: hsl(0, 0%, 0%);
}